$color-border-primary: #e1e4e8;
$color-border-secondary: #d1d5da;

$color-bg-gray: #f5f5f5;
$color-bg-red: #ffe5e1;
$color-bg-urgent: #fd206b;
$color-bg-regular: #fea400;
$color-bg-trivial: #0079e8;

$color-text-gray: #586069;
$color-text-red: #ff472d;

