@import 'src/styles/mixins';
@import 'src/styles/variables';

.root {
}

.createJobForm {
  @include desktop() {
    display: grid;
    grid-template-columns: 9fr 2fr 1fr;
    gap: 10px;
    align-items: end;
    width: 100%;
  }
}

.submitButton {
  width: 100%;
}
